@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-bottom-curve {
    clip-path: ellipse(50% 15% at 50% 100%);
}

.hidden-scrollbar {
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
  
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
}

/* Add this in your global styles or a specific CSS file */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* for Internet Explorer */
    scrollbar-width: none;  /* for Firefox */
  }
  